/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box; }

/* Efecto de movimiento */
.button:hover {
  filter: brightness(80%);
  transition: 0.4s;
  padding-right: 24px;
  padding-left:8px;
}

/* Efecto para description */
.button:hover:before {
  border: none;
  color: rgb(196, 128, 128);
  position: absolute;
  padding: 0px 35px;
  width: 400px;
  height: auto;
  word-spacing: 3px;
  text-align: left;
  text-decoration: none;
  line-height: 1.3;
  display: block;
  font-size: 18px;
  margin: 0px 280px;
  cursor: pointer;
  vertical-align: middle;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}


/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Slack */
.button.button-maps {
  color: #050404;
  background-color: #e07a7a } 
.button.button-maps:hover,
.button.button-maps:hover:before {
  content: 'La iglesia cuenta con estacionamiento propio, solo debes ingresar por el acceso de vehículos (al lado derecho del templo).';
  white-space: initial; }

/* Kit */
.button.button-maps-2 {
  color: #050404;
  background-color: #e07a7a  }
.button.button-maps-2:hover,
.button.button-maps-2:hover:before {
    content: 'La entrada tiene un letrero de color verde indicando el Club de Golf. Para llegar al lugar del evento debes ingresar hasta el fondo del camino interior.';
    white-space: initial; }

/* Lythium */
.button.button-invitacion {
  color: #050404;
  background-color: #e07a7a  }
.button.button-invitacion:hover,
.button.button-invitacion:hover:before {
    content: 'Revive el video de invitación.';
    white-space: initial; }

/* Lythium */
.button.button-regalo {
  color: #050404;
  background-color: #e07a7a  }
.button.button-regalo:hover,
.button.button-regalo:hover:before {
    content: 'Ver cómo dar un regalo a los novios.';
    white-space: initial; }



/* Slides */
.button.button-slides {
  color: #FFFFFF;
  background-color: #212c3d }
.button.button-slides:hover,
.button.button-slides:hover:before {
    content: 'Mis slides de cuando doy charlas en conferencias.';
    white-space: initial; }

/* Mercha */
.button.button-mercha {
  color: #000000;
  background-color: #fffc00 }
.button.button-mercha:hover,
.button.button-mercha:hover:before {
    content: 'Esta es mi tienda de merchandising, puedes encontrar remeras/camisetas/poleras y otro tipo de cosas :)';
    white-space: initial; }

/* Reddit */
.button.button-reddit {
  color: #FFFFFF;
  background-color: #FF4500 }
.button.button-reddit:hover,
.button.button-reddit:hover:before {
    content: 'Mi subreddit, como un pequeño foro para hacer preguntas sobre mis videos o cualquier tema relacionado con el contenido de mi canal.';
    white-space: initial; }

/* Mail */
.button.button-valdivia {
  color: #050404;
  background-color: #e07a7a  }
.button.button-valdivia:hover,
.button.button-valdivia:hover:before {
    content: 'Aprovecha para disfrutar de Valdivia y sus maravillosos paisajes.';
    white-space: initial; }

/* GitLab */
.button.button-youtube {
  color: #050404;
  background-color: #e07a7a  }
.button.button-youtube:hover,
.button.button-youtube:hover:before {
    content: 'El matrimonio será transmitido en vivo para nuestras familias y amigos que no pudieron estar de manera presencial.';
    white-space: initial; }

/* Mail */
.button.button-comida {
  color: #050404;
  background-color: #e07a7a  }
.button.button-comida:hover,
.button.button-comida:hover:before {
    content: 'Revisa aquí tu lugar en la distribución de mesas.';
    white-space: initial; }